a{
  &:hover{
    text-decoration: none;
    color: #0b2e13;
  }
}
.badge{
    font-weight: unset;
}

.read-more{
  color: $pink500;
  font-weight: 600;
  &:hover{
    color: $pink600;

  }
}






span[data-action], a[data-action] {
  font-size: 0.875rem;
  font-weight: 600;
  box-sizing: content-box;
  vertical-align: bottom;
  padding: 4px 8px;
  margin: 0 4px;
  @include font;
  color: $grey300;
  border-radius: 0.5rem;
  cursor: pointer;


  &:first-child{
    margin: 0;
  }

  &:last-child{
    margin: 0;
  }

  &:hover{
    background: $grey000;
  }

}

.toggle{
  background: $grey000;
}
.btn-group-toggle{

  border-radius: 24px;




  .btn{
    line-height: 1.4;
    @include bold;
    height: 38px;
    min-width: 88px;

    line-height: 1.75;
    @include breakpoint(sm){
      line-height: 2;

    }

  }

  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color:$blue500;
    border-radius: 24px!important;
    border-color: unset;
  }


  .btn-secondary {
    color: $grey500;
    background-color: $grey000;
    border-color: unset;
    border: none;
    border-radius: 24px!important;

  }

  &:hover {
    // background: $grey200;

    .btn-secondary{
      border-radius: 24px!important;
      &:hover {
        background: $grey200;
      }
    }
  }

}



.btn-toggle{
  color: $grey300;
  background: none;
  border-right: 1px solid $grey200;
  &:hover{
    color: $grey400;
    //background: $grey100;
  }
  &.active{
    background-color: none;
    color: $blue500;
  }
  &:last-child{
    border: none;
  }
}


.filter-lists{
  label{
    padding-left:  0.5rem;
    padding-right:  0.5rem;
  }
  .btn{
    height: 32px;
  }
  .custom-select{
    height: 32px;
    line-height: 1;
    color: $grey600;
  }
}
.btn{

  line-height: 1.7;
  vertical-align: baseline;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  @include breakpoint(sm){
    padding: 0.25rem 0.75rem;
    padding-left:  1.5rem;
    padding-right:  1.5rem;
    border-radius: 0.25rem;
  }

  &.icon{
    text-align: center;
    padding: 0.5rem;
    //margin: 0 0.25rem;
    i{
      margin: 0;
    }
    &:hover{
      i{
        background-position-y: -36px;
      }
    }
  }

&-secondary{
  background: $pink500;
  border: none;
  @include bold;
  &:hover{
    background: $pink600;
  }

}
  &-link{
    @include bold;
    text-transform: none;
    color: $blue500;
    &:hover{
      text-decoration: none;
      color: $blue700;
    }
  }

  &-cta{
    color: $pink500;
    &:hover{
      background: $pink100;
      text-decoration: none;
      color: $pink500;

    }
  }

  &-light{
    font-weight: 600;
    color: $grey300;
    background: $grey100;

    &:hover{
      color: $grey500;
      background: $grey200
    }
  }

  &-emotion{
    padding: 0.5rem;
    //max-width: 88px;
    border-radius: 0.5rem;
    color: $grey300;
    text-align: center;
    cursor: pointer;
    &:hover{
      color: $blue500;
    }

    label{
      margin: 0;
      display: block;
    }
  }


  &-active{
    background: $blue100;
    color: $blue500;
  }

  &-outline-secondary{
    border-color: $grey300;
    color: $grey500;
    @include border-radius;
    &:hover{
      background: $grey100;
      border: 1px solid $grey100;
      color: $grey500;
    }

    &:not(:disabled):not(.disabled).active{
      background-color: $blue500;
      border: none;

    }
    
    &:not(:disabled):not(.disabled):active:focus{
      box-shadow: none;
      border: none;
    }

    &.dropdown-toggle:focus{
      box-shadow: none;
      border: none;
    }
    &:focus{
      border: none;
      box-shadow: unset;
    }
  }

}


.user-settings{
   .avatar{
     border:none;
     padding:0.25rem 0.5rem;
     background: none;
     &:hover{
       border-radius: 0.5rem;
       background: $grey000;
     }
     span{
      height: 32px;
       width: 32px;
       border-radius: 2rem;
       overflow: hidden;
       display: block;
     }
     &::after{
       display: none;
     }
   }
}


.fab{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 41px;
  width: 56px;
  height: 56px;
  background: $pink500;
  border: none;
  @include shadow-6;
  &:hover{
    background: $pink600;
  }

  i{
    vertical-align: middle;
    text-align: center;
  }
}



.filter-btn{
  display: flex;
align-items: center;
  color: $grey300;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1;
@include border-radius-small;
  i{
    margin-right: 0.5rem;
  }
  &:hover{
    background: $blue100;
    color: $blue500;
  }
}



#share-secret-big-prompt{
@include cardify;
  padding: 0.75rem 1rem;
  color: $grey300;
  &:hover{
    color: $grey500;
    background: $grey100;

    btn-link:hover{
      text-decoration: none;
      color: $blue700;
    }
  }

}
