.secret-answer {
  & > .col-auto {
    padding: 0;

  }

  .form-row{
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .search-bar{
    border-radius: 24px;
    border: 1px solid $grey200;
    color: $grey300;
    margin-right:24px;
  }

}

label{
  @include font;
  @include bold;
}

.input-label{
  color: $grey500;
  font-size: 0.875rem;
}


.form-container{
  margin-top: 5rem;
}
