.emotion{
  display: block;
  background-image: url("../img/emotions.svg");
  background-size: cover;
}

.standar{
  width: 32px;
  height: 32px;
}

.small{
  min-width: 20px;
  min-height: 20px;
}

.sys-icon{
  background-image: url("../img/system-icons.svg");
  background-position-y: -8px;


}

.active i.sys-icon{
  background-position-y: -36px;

}

.icon{
  &-sm{
    display: inline-block;
    height: 24px;
    width: 24px;

    &:hover{
      //background-position-y: -36px;
    }

  }
}

.hot-i{
  background-position-x: 0;

}

.secret-i{
  background-position-x: -24px;

}

.fav-i{
  background-position-x: -50px;

}

.notification{
  background-position-x: -78px;
  background-position-y: -64px;
}


.night-mode{
  background-position-x: -102px;
  background-position-y: -64px;
}



.love{
  background-position: 0 0;

}

.happy{
  background-position: 12.5% 0;
}

.surprised{
  background-position: 25% 0;
}

.anger{
  background-position: 37.5% 0;
}

.lust{
  background-position: 50% 0;
}

.shame{
  background-position: 62.5% 0;
}

.sad{
  background-position: 75% 0;
}

.confused{
  background-position: 75% 0;
}

.curious{
  background-position: 100% 0;
}

.poker-face{
  background-position: 87.5% 0;

}


.icon
{
  display: inline-block;
  text-align: center;
  width: auto;
  //background-image: url("../img/system-icons.svg");
  background-position-y: -8px;

}

.icon-sad { content: '\0e80'; } /* '຀' */
.icon-comments {
  background-position-y: -64px;
  background-position-x: 144px;
} /* '' */
.icon-love { content: '\e804'; } /* '' */
.icon-shame { content: '\e807'; } /* '' */
.icon-curious { content: '\e808'; } /* '' */
.icon-surprised { content: '\e809'; } /* '' */

.icon-filters {
  background-position-y: -32px;
  background-position-x: 111px;
  height: 24px;
  width: 24px;
  display: block;
} /* '' */

.icon-likes {

  background-position-y: -64px;
  background-position-x: 255px;

} /* '' */

.icon-favorite {

  background-position-y: -63px;
  background-position-x: 181px;

} /* '' */


.icon-dislike {
  background-position-y: -64px;
  background-position-x: 218px;
} /* '' */


.icon-poker { content: '\e80b'; } /* '' */
.icon-anger { content: '\e80c'; } /* '' */
.icon-horny { content: '\e80f'; } /* '' */
.icon-happy { content: '\e811'; } /* '' */
.icon-notification { content: '\e812'; } /* '' */
.icon-profile {
  background-position-y: -32px;
  background-position-x: 77px;
  height: 24px;
  width: 24px;
  display: block;
} /* '' */
.icon-male{
  background-position-x: -345px;
} /* '' */

.icon-female {
  background-position-x: -373.5px;
} /* '' */


.icon-male, .icon-female{
  display: inline-block;
  //margin: 0 0 0 auto;
}



.icon{

  &-emotion{
    width: 32px;
    height: 32px;
    display: inline-block;
    /*Eliminar backround*/
  }

  &-male{
    font-size: 1.4rem;
    min-width: 20px;
    text-align: center;
    color: $male;
  }

  &-female{
    font-size: 1.2rem;
    min-width: 20px;
    text-align: center;
    color: $female;
  }


}
