.rounded-pill{
    border-radius: 1rem;
}

.multiple-radio{
  background: none!important;

}

.desktop{
  min-height: 100vh;
 }



hr{
  border-color: $grey200;
  margin: 2rem 0;
}


.no-margin{
  margin: 0;
}

.margin-x-negative{
  margin-right: -1rem;
  margin-left: -1rem;
}


.h-32{
  height: 32px;
}

.overlay{
  position: relative;
  min-width: 100vh;
  height: 100vh;
}
