$grey900 : #1D2325;
$grey800 : #343742;
$grey700 : #4A4F5E;
$grey600 : #5E6578;
$grey500 : #767E93;
$grey400 : #959BAC;
$grey300 : #B2B6C2;
$grey200 : #CED1D9;
$grey100 : #EBECEF;
$grey000 : #F4F5F7;

$pink900 : #3A031C;
$pink800 : #6A063A;
$pink700 : #9B0956;
$pink600 : #CB0B62;
$pink500 : #F21566;
$pink400 : #F54781;
$pink300 : #F778A2;
$pink200 : #FAA8BE;
$pink100 : #FDD8E6;

$blue900 : #06063C;
$blue800 : #120B6A;
$blue700 : #1C1098;
$blue600 : #3215C2;
$blue500 : #4828E8;
$blue400 : #557BED;
$blue300 : #839EF2;
$blue200 : #B1C2F7;
$blue100 : #DFE6FC;

$white: #ffffff;

$white-shade: rgba(255,255,255,0.7);
$gradientBlue: linear-gradient(90deg,$blue500 0%, $blue400 100%);;
$bg-light: #F4F5F7;
$female: #F849EC;
$male: #346BFA;
