.navbar{
  &-brand{
    color: $white!important;
  }

  &-modal{

    a,i{
      color: $grey800;
    }
  }

  &-form{
    background: $white;
    width: 100%;
    top: 0;
    z-index: 999;
  }

}
.bg-dark{
  background: $gradientBlue;
  i{
    color: $white;
  }
  h4{
    color: $white;
  }

}


.bg-light{
  background: $bg-light;

}

.header{

  .branding{
  }
}
header{
    flex-wrap: nowrap;
    @include breakpoint(sm){
      padding: 0.5rem 1rem;
     @include shadow-1;
      margin-bottom: 2.25rem;
    }
    i{
      font-size: 1.25rem;
      vertical-align: middle;
    }

    h4{
      font-size: 1.25rem;
      margin:0 24px 0;
      @include bold;

    }

    a{
      padding: 4px;
    }




  }
  .nav-tabs {
    border: none;
    flex-wrap: nowrap;
    background: $gradientBlue;
    @include breakpoint(sm){
      background: none;
      min-width: 24rem;
      max-width: 32rem;
      width: 100%;
    }

    @include font;
    @include bold;
    font-size: 0.875rem;
    text-transform: uppercase;

    .nav-link{
        background: none;
        border: none;
      @include breakpoint(sm){
        padding: .69rem 0.75rem;
        &:hover{
          color: $blue500;
          i{
            background-position-y: -36px;
          }
        }
      }
        &.active{
            background: none;
            border: none;
            color: $white;
          @include breakpoint(sm){
            color: $blue500;
          }

        }


    }


    a{
      width: 100%;
      text-align: center;
      font-weight: 700;
      padding: .69rem 1rem;
      color: $white-shade;
      @include breakpoint(sm){
        color: $grey500;
      }

    }
}


