@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600&display=swap');

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@font-face {
    font-family: 'chimio-icon';
    src: url('https://chimio.b-cdn.net/chimio-icon.eot?12869697');
    src: url('https://chimio.b-cdn.net/chimio-icon.eot?12869697#iefix') format('embedded-opentype'),
         url('https://chimio.b-cdn.net/chimio-icon.woff?12869697') format('woff'),
         url('https://chimio.b-cdn.net/chimio-icon.ttf?12869697') format('truetype'),
         url('https://chimio.b-cdn.net/chimio-icon.svg?12869697#chimio-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}


@import 'variables';
@import 'mixins';
@import 'utilities';
@import 'types';
